<div data-options="dxView : { name: 'pose', title: 'Pose' } " >
  <div class="pose-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div data-bind="dxToolbar: { items: [ 
    {  align: 'left', widget: 'button', options: { type: 'back', text: 'Back', clickAction: '#_back'}},
    ] }" ></div>

    <p class="image"><img data-bind="attr: { src: url}"></p>

    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Id: </div>
        <div class="dx-field-value" data-bind="text: id"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Name: </div>
        <div class="dx-field-value" data-bind="text: name"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Complexity: </div>
        <div class="dx-field-value" data-bind="text: level"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Duration min: </div>
        <div class="dx-field-value" data-bind="text: durMin"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Duration max: </div>
        <div class="dx-field-value" data-bind="text: durMax"></div>
      </div>
    </div>
    
  </div>
</div>