<div data-options="dxView : { name: 'pose', title: 'Pose' } " >
  <div class="pose-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div data-bind="dxToolbar: { items: [ 
      {  align: 'center', text: name},
      {  align: 'left', widget: 'button', options: { type: 'back', text: 'Back', clickAction: '#_back'}},
    ] }" ></div>

    <h1 class = "pose-header" data-bind="text: name"></h1>
      <img class = "pose-image" data-bind="attr: { src: url }" />
      <div class="dx-fieldset">
      <table class="sequence-center">
        <tr>
          <td class="sequence-text sequence-label">Description: </td>
          <td class="sequence-text">
             <div data-bind="text: desc"/>
          </td>
        </tr>
        <tr>
          <td class="sequence-text sequence-label">Minumal duration: </td>
          <td class="sequence-text">
             <div data-bind="text: durMin"/>
          </td>
        </tr>
      </table>
  </div>
</div>