<div data-options="dxView : { name: 'schedule', title: 'Schedule' } " >
  <div class="schedule-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">

<!--div data-bind="dxLookup:{dataSource: employees, displayExpr: 'name', valueExpr: 'id'}"></div-->

<br/><input type="button" value="<"></input> week 11.11.2013 - 17.11.2013 <input type="button" value=">"></input><br/>

<div>
    <div style="width:20%; float:left;" data-bind="dxList: { dataSource: scheduleDataDays, scrollByContent: false, scrollingEnabled: false, showScrollbar: false, disabled:true}">
		  <div style="height:30px" data-options="dxTemplate : { name: 'item' }"
		  data-bind="text: name" ></div>
    </div>
    <div style="width:80%; float:right;">
<!--
		<div style="width:50%; float:left;" data-bind="dxList: { dataSource: scheduleDataLeft, itemClickAction: dodo, scrollByContent: false, scrollingEnabled: false, showScrollbar: false, itemRender:onItemRender}">
		    <div data-options="dxTemplate : { name: 'item' }">
    <div style='padding:0px;' class="dx-field-value" data-bind="dxLookup: {placeholder:name, dataSource: sequencelistSrc, displayExpr: 'name', valueExpr: 'id', value: id, width:'100%' }"></div>   
			</div>
-->
		<div style="width:50%; float:left;" data-bind="dxList: { dataSource: scheduleDataLeft, scrollByContent: false, scrollingEnabled: false, showScrollbar: false}">
		  <div data-options="dxTemplate : { name: 'item' }">
				<div style='padding:0px; height:31px' class="dx-field-value" data-bind="dxLookup: {placeholder:name, dataSource: sequencelistSrc, displayExpr: 'name', valueExpr: 'id', value: id, width:'100%' }"></div>			
		  </div>		

		</div>
<!--
		<div style="width:50%; float:right;" data-bind="dxList: { dataSource: scheduleDataRight, itemClickAction: dodo, scrollByContent: false, scrollingEnabled: false, showScrollbar: false, itemRender:onItemRender}">
		  
-->
		<div style="width:50%; float:right;" data-bind="dxList: { dataSource: scheduleDataRight, scrollByContent: false, scrollingEnabled: false, showScrollbar: false}">
		  <div data-options="dxTemplate : { name: 'item' }">
				<div style='padding:0px; height:31px' class="dx-field-value" data-bind="dxLookup: {placeholder:name, dataSource: sequencelistSrc, displayExpr: 'name', valueExpr: 'id', value: id, width:'100%' }"></div>			
		  </div>		


		</div>
    </div>
	
</div>    
  </div>
</div>
