<div data-options="dxView : { name: 'sequence_list', title: 'Schedule' } " >
  <div class="sequence_list-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div data-bind="dxToolbar: { items: [ 
    {  align: 'left', widget: 'button', options: { type: 'back', text: 'Back', clickAction: '#_back'}},
    {  align: 'center', text: 'Sequences'},
    {  align: 'right', widget: 'button', options: { type: 'normal', icon: 'menu', clickAction: '#home'}},
    ] }" ></div>
    
    <div data-bind="dxTextBox: { mode: 'search', value: '', placeholder:'type to search'}"></div>
    
    <div data-bind="dxList: { items: [
      { id: 1, name: 'Surya Namascar 1' },
      { id: 2, name: 'Surya Namascar 2' },
      { id: 3, name: 'Chandra Namascar' }
      ] }">
      
      <div data-options="dxTemplate : { name: 'item' }"
      data-bind="text: name, dxAction: '#sequence/1'" ></div>    
    </div>
    
  </div>
</div>