<div data-options="dxView : { name: 'sequence', title: 'Sequence' } " >
  <div class="sequence-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div data-bind="dxToolbar: { items: [ 
    {  align: 'left', widget: 'button', options: { type: 'back', text: 'Back', clickAction: '#_back'}},
    {  align: 'center', text: 'Surya Namascar 1'},
    {  align: 'right', widget: 'button', options: { type: 'normal', icon: 'menu', clickAction: '#home'}},
    ] }" ></div>

    <!--div data-bind="dxList: { dataSource: dataSource}">
      <div data-options="dxTemplate : { name: 'item' }"
      data-bind="text: name, dxAction: '#pose/{id}'" ></div>    
    </div-->
    <div data-bind="dxGallery: { height: 500, dataSource: myposes}">
      <div data-options="dxTemplate: { name: 'item'}">
      <h1 data-bind="text: name"></h1>
      <img data-bind="attr: { src: url }" />
  </div>
</div>