/* Put css styles for view here */

.training-view {
  text-align: center;
}

.training-view p {
	padding: 5px;
}

.training-view .image{
  text-align: center;
  background: #555;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.training-view .description{
  text-align: center;
  background: #222;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.training-view .startstop{
  margin-bottom: 15px;
}

.selectsequence {
  color: #b4df5b !important;
  font-size: 20px !important;
  width: 400px;
  height: 30px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  padding-top: 20px;
  padding-bottom: 20px;
}
