<div data-options="dxView : { name: 'training', title: 'Training' } " >
  <div class="training-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div data-bind="dxToolbar: { items: [ 
    {  align: 'center', text: trainingDate },
    ] }" ></div>
    
  
    <p class="image">Pose image.</p>
    
    <p class="description">pose description</p>
    
    <div class="startstop" data-bind="dxButton: { text: modeMessage, clickAction: startStop, width:'60%' }"></div>
    
    <div data-bind="dxSlider:{min:0, max:100, value: completionPercent, disabled:true}"></div>    
  </div>
</div>