html, 
body, 
#view-port {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}

.dx-button
{
  margin: 2px 0;
}

.copyright {position:fixed; bottom:0px; width: 100%; height:50px;}