<div data-options="dxView : { name: 'WeightGraphs', title: 'Graphs' } " >
   
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div id="tabs" data-bind="dxTabs: tabOptions"></div>
        <div class="full-height">
            <!-- ko if: isWeightDataLoaded  -->
                <!-- ko if: weightChartHasData() -->
                <div class="graph-settings">
                      <select data-bind="options: exerciseTypes,
                            value: selectedExerciseType"></select>
                </div>
                <div class="graph-area">
                    <div id="weightChart" class="with-selects" data-bind="dxChart: {
                        commonSeriesSettings: {
                            argumentField: 'date'
                        },
                        series: [
                            { valueField: 'weight', name: 'Weight' },
                        ],
                        argumentAxis: {
                            grid: {
                                visible: true
                            },
                            tickInterval: 'day',
                            label: {
                                format: 'monthAndDay'
                            }
                        },
                        valueAxis: {
                            min: 0
                        },        
                        tooltip: {
                            enabled: true,
                            argumentFormat: 'shortDate',
                            customizeText: function () {
                                return this.seriesName + ': ' + this.valueText + '<br/>' + this.argumentText;
                            }
                        },
                        legend: {
                            verticalAlignment: 'bottom',
                            horizontalAlignment: 'center'
                        },
                        dataSource: weightChartDataSource
                    }">

                    </div> 
                </div>  
                <!-- /ko -->
                <!-- ko if: !weightChartHasData() -->
                    <div class="graph-empty-comment">There are no exercises with filled weight info</div>
                <!-- /ko -->
            <!-- /ko -->

        </div>
    </div>
</div>