<div data-options="dxView : { name: 'about', title: 'About' } " >
  <div class="about-view" data-options="dxContent : { targetPlaceholder: 'content' } " >
    <div data-bind="dxToolbar: { items: [ 
    {  align: 'left', widget: 'button', options: { type: 'back', text: 'Back', clickAction: '#_back'}},
    {  align: 'right', widget: 'button', options: { type: 'normal', icon: 'menu', clickAction: '#home'}},
    ] }" ></div>

    <p>YogaScript is an application to help people make the yoga exercises individually</p>
    <p>&copy; 2013 JAPA team</p>
  </div>
</div>