<div data-options="dxView : { name: 'pose', title: 'Pose' } " >
  <div class="pose-view"  data-options="dxContent : { targetPlaceholder: 'content' } ">
    <div data-bind="dxToolbar: { items: [ 
    {  align: 'left', widget: 'button', options: { type: 'back', text: 'Back', clickAction: '#_back'}},
    {  align: 'center', text: 'Adho Mukha Svanasana'},
    {  align: 'right', widget: 'button', options: { type: 'normal', icon: 'menu', clickAction: '#home'}},
    ] }" ></div>

    <p class="image">Pose image</p>

    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Id: </div>
        <div class="dx-field-value" data-bind="text: 1"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Name: </div>
        <div class="dx-field-value" data-bind="text: 'Adho Mukha Svanasana'"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Complexity: </div>
        <div class="dx-field-value" data-bind="text: 'low'"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Duration min: </div>
        <div class="dx-field-value" data-bind="text: '30s'"></div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Duration max: </div>
        <div class="dx-field-value" data-bind="text: '5m'"></div>
      </div>
    </div>
    
  </div>
</div>