extends layout

block content
  ul(data-role="listview", data-inset="true", data-dividertheme="b")
    li(data-role="list-divider") Options
    li: a(href="option1.html") Option 1
    li: a(href="option2.html") Option 2
    li: a(href="option3.html") Option 3
    li: a(href="option4.html") Option 4
